  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="settings-button">
            <a href="{% url 'myload-settings' %}">
                <button>
                    <img src="{% static 'settings-icon.png' %}" alt="Settings">
                </button>
            </a>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>