<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Meeting</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #393938;
            margin: 0;
            padding: 0;
        }
        #jitsi-container {
            margin: 50px auto;
            width: 80%;
            height: 700px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <header class="p-3 bg-dark text-white text-center">
        <h1>MyLoad Jitsi Meeting</h1>
    </header>

    <main>
        <div id="jitsi-container"></div>
    </main>

    <!-- Jitsi API -->
    <script src="https://meet.jit.si/external_api.js"></script>
    <script>
        const domain = "meet.jit.si";
        const options = {
            roomName: "{{ room_name }}",
            width: "100%",
            height: 700,
            parentNode: document.querySelector('#jitsi-container'),
        };
        const api = new JitsiMeetExternalAPI(domain, options);
    </script>
</body>
</html>
